

    <app-header></app-header>
    <!--<app-sidebar></app-sidebar>-->
    <div class="card-body">
        <div >
            <div class="container-fluid">
                    <!--breadcrums -->
                    <app-breadcrumbs></app-breadcrumbs>

                    <!-- Sistema de Rutas -->
                    <router-outlet></router-outlet>
                    

            </div>

                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
               <!-- <footer class="footer">
                    © 2021 Admin Pro by sunat.gob.pe
                </footer>-->
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->

    </div>

    </div>


