<p-accordion [multiple]="true">
  <p-accordionTab header="Datos de la Empresa de Transporte">
   
      <fieldset class="form-group scheduler-border" >
        <div class="row">  
          <div class="col-md-6">
              <p-fieldset >
                <ng-template pTemplate="header" class="myStyle">Datos de la Empresa de Transporte</ng-template>
                <div class="row">

                  <!--<td><mat-label>Tipo Nacionalidad</mat-label></td>-->
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Tipo Nacionalidad:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">País Empresa:</label>
                    <div class="col-sm-4 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Identificación:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Nombre:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Flujo de Vehículo:</label>
                    <div class="col-sm-4 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">País Placa:</label>
                    <div class="col-sm-4 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Placa:</label>
                    <div class="col-sm-3 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">País Placa carreta:</label>
                    <div class="col-sm-4 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Placa carreta:</label>
                    <div class="col-sm-3 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Correo electrónico:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Número Telefonico:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                </div>
              </p-fieldset>
          </div>
      
          <div class="col-md-6">
            <p-fieldset class="form-group scheduler-border">
              <ng-template pTemplate="header">Datos del Conductor</ng-template>
            
              <div class="row">
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Nacionalidad:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Identificación:</label>
                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Tipo de documento:</label>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="CARNET" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"> &nbsp;</label>
                      <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Num. de documento:</label>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="CARNET" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Num. de Documento:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Nombre Conductor:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Numero de Licencia:</label>
                    <div class="col-sm-9 col-form-label col-form-label-sm">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" disabled>
                    </div>
                  </div>
                      <tr>
                        <td></td>
                        <td> &nbsp; </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td> &nbsp; </td>
                      </tr>
              </div>
            </p-fieldset>
          </div>
      </div>
    </fieldset>
   

  </p-accordionTab>
  <p-accordionTab header="Datos Complementarios">
       <fieldset class="form-group scheduler-border" >
   
         <legend class="scheduler-border">Datos Complementarios</legend>
         <div class="row">
          <div class="col-1">
            <label for="txtOrigen">Origen:</label>
          </div>
          <div class="col-5">
            <input type="text" class="form-control" id="txtOrigen" name="txtOrigen" disabled>
          </div>

          <div class="col-1">
            <label for="txtObservacion">Observacion:</label>
          </div>
          <div class="col-5">
            <input type="text" class="form-control" id="txtObservacion" name="txtObservacion" disabled>
          </div>
        </div>
       </fieldset>
  </p-accordionTab>
  <p-accordionTab header="Datos del Comprobante de Pago/Carta Porte">
    <fieldset class="form-group scheduler-border" >
      <legend class="scheduler-border">Datos del Comprobante de Pago / Carta Porte</legend>
      <div class="row">
        <p-table [value]="customers"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        styleClass="p-datatable-sm"
        [rowsPerPageOptions]="[10,25,50]"  >
          <ng-template pTemplate="header">
              <tr>
                  <th>ID</th>
                  <th>Guía remitente / Comprobante pago</th>
                  <th>RUC remitente</th>
                  <th>Raz&oacute;n Social Remitente</th>
                  <th>Motivo traslado</th>
                  <th>RUC destinatario</th>
                  <th>Raz&oacute;n Social destinatario</th>
                  <th>Destino</th>

              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr >
              <td colspan = "9" class="text-center">No hay registros</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
              <tr>
                  <td>{{customer.id}}</td>
                  <td>{{customer.name}}</td>
                  <td>{{customer.name}}</td>
                  <td>{{customer.name}}</td>
                  <td>{{customer.status}}</td>
                  <td>{{customer.representative.name}}</td>
                  <td>{{customer.status}}</td>
                  <td>{{customer.status}}</td>
                  <td>
                    <button type="button" class="btn btn-link">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
              </tr>
          </ng-template>
        </p-table>
      </div>
    </fieldset>
  </p-accordionTab>
  <p-accordionTab header="Datos de la declaración de Importación">
    Content 3
  </p-accordionTab>
  <p-accordionTab header="Archivos Adjuntos">
    Content 3
  </p-accordionTab>
</p-accordion>
