span {
    text-align: center;
    display: inline-block;
    width: 100%;
    /*background-color: blue;*/
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
  }