<!--<app-detalle></app-detalle>
<app-reporte></app-reporte>-->


<div class="card border-primary">
  <!--<div class="card-header bg-primary">
    <strong>Consulta de DPMN / CCMN</strong>
  </div>-->
  <div class="card-body">
    <form id="formConsulta" [formGroup]="consultaForm" name="formConsulta">
      <div class="formgrid grid">

        <!--Row 1-->
        <div class="col-12 xl:col-2">
          <label>Empresa de Transporte: </label>
        </div>
        <div class="col-12 xl:col-2">
          <input type="text" class="form-control" id="txtCodEmprTrans" formControlName="codEmprTrans" pKeyFilter="pint"
            placeholder="Código" maxlength="6" (blur)="buscarEmprTrans()" readonly>
        </div>
        <div class="col-12 xl:col-2">
          <input type="text" class="form-control" id="txtNumeroRucEmprTrans" formControlName="numeroRucEmprTrans"
            pKeyFilter="pint" placeholder="Número de RUC" maxlength="11"  (blur)="buscarRUC('1')">
        </div>
        <div class="col-12 xl:col-6">
          <input type="text" class="form-control" readonly placeholder="Número de RUC" formControlName="descRazonSocialEmprTrans"/>
        </div>

        <!--Row 2-->
        <div class="col-12 xl:col-2">
          <label>Tipo de Documento: </label>
        </div>
        <div class="col-12 xl:col-4">
          <p-dropdown inputId="tipoDoc" [options]="lstTipoDocumento" formControlName="tipoDocumento" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo" (onChange)="onChangeTipoDoc()"></p-dropdown>
        </div>
        <div class="col-12 xl:col-2">
          <label>Tipo de Control: </label>
        </div>
        <div class="col-12 xl:col-4">
          <p-dropdown inputId="tipoCont" [options]="lstTipoControl" formControlName="tipoControl" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo"></p-dropdown>
        </div>

        <!--Row 3-->
        <div class="col-12 xl:col-2">
          <label>Placa de vehículo: </label>
        </div>
        <div class="col-12 xl:col-4">
          <p-dropdown inputId="paisPlaca" [options]="lstPaisVehiculo" formControlName="codPaisPlaca" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo"></p-dropdown>
        </div>
        <div class="col-12 xl:col-6">
          <input type="text" class="form-control" id="txtNumPlaca" formControlName="numPlaca" 
          pKeyFilter="pint" placeholder="Número de Placa" maxlength="7" (blur)="validarPlaca()">
        </div>

        <!--Row 4-->
        <div class="col-12 xl:col-2">
          <p-radioButton (onClick)="onRadioChange()" name="tipoBusqueda" value="1" label="Número de Documento:" formControlName="tipoBusqueda"></p-radioButton>
        </div>
        <div class="col-12 xl:col-4">
          <p-dropdown inputId="codAduanaDocumento" [options]="lstAduanaDocumento" formControlName="codAduanaDocumento" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo" (onChange)="cargarPuestoControl()"></p-dropdown>
        </div>
        <div class="col-12 xl:col-2">
          <p-dropdown inputId="codPuestoControl" [hidden]="!esVisible" [options]="lstPuestoControl" formControlName="codPuestoControl" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo"></p-dropdown>
        </div>
        <div class="col-12 xl:col-2">
          <input type="text" class="form-control" id="txtAnoDocumento" formControlName="anoDocumento"
          pKeyFilter="pint" placeholder="Año" maxlength="4">
        </div>
        <div class="col-12 xl:col-2">
          <input type="text" class="form-control" id="txtNumeroDocumento" formControlName="numeroDocumento"
          pKeyFilter="pint" placeholder="Número" [maxLength]="maxLengthNumDoc">
        </div>

        <!--Row 5-->
        <div class="col-12 xl:col-2">
          <label>RUC Remitente: </label>
        </div>
        <div class="col-12 xl:col-4">
          <input type="text" class="form-control" id="txtNumeroRucRemitente" formControlName="numeroRucRemitente"
            pKeyFilter="pint" placeholder="Número de RUC" maxlength="11" (blur)="buscarRUC('2')">
        </div>
        <div class="col-12 xl:col-6">
          <input type="text" class="form-control" readonly placeholder="Número de RUC" formControlName="descRazonSocialRemitente"/>
        </div>

        <!--Row 6-->
        <div class="col-12 xl:col-2">
          <p-radioButton (onClick)="onRadioChange()" name="tipoBusqueda" value="2" label="Declaración:" formControlName="tipoBusqueda"></p-radioButton>
        </div>
        <div class="col-12 xl:col-4">
          <p-dropdown inputId="codAduanaDAM" [options]="lstAduanaDocumento" formControlName="codAduanaDAM" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo"></p-dropdown>
        </div>
        <div class="col-12 xl:col-2">
          <input type="text" class="form-control" id="txtAnoDAM" formControlName="anoDAM"
          pKeyFilter="pint" placeholder="Año" maxlength="4">
        </div>
        <div class="col-12 xl:col-2">
          <p-dropdown inputId="codRegimen" [options]="lstRegimen" formControlName="codRegimen" placeholder="Seleccionar"
            optionLabel="descripcion" optionValue="codigo"></p-dropdown>
        </div>
        <div class="col-12 xl:col-2">
          <input type="text" class="form-control" id="txtNumeroDAM" formControlName="numeroDAM"
          pKeyFilter="pint" placeholder="Número" maxlength="6">
        </div>

        <!--Row 7-->
        <div class="col-12 xl:col-2">
          <p-radioButton (onClick)="onRadioChange()" name="tipoBusqueda" value="3" label="Fecha de Registro:" formControlName="tipoBusqueda"></p-radioButton>
        </div>
        <div class="col-12 xl:col-4">
          <p-calendar formControlName="fechaInicio" dateFormat="dd/mm/yy" [maxDate]="date" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="col-12 xl:col-4">
          <p-calendar formControlName="fechaFin" dateFormat="dd/mm/yy" [maxDate]="date" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
      </div>
    </form>
  </div>
</div>
<p-toast position="top-right" key="msj"></p-toast>


  <div class="col-md-12">
    <p-button label="Limpiar"></p-button>
    <p-button label="Consultar" [loading]="loadingConsultar" (click)="consultar()"></p-button>
  </div>

